# Environment
NODE_ENV=development # or production

# Database Configuration
DB_HOST=localhost
DB_USER=nextstarter
DB_PASSWORD=supersecret
DB_NAME=nextstarter
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Optional Flags
DB_MIGRATING=false # Set to 'true' if running migrations, otherwise 'false'
